#header {
    -fx-background-color: #ffffff;
}

#account {
    -fx-background-color: linear-gradient(to bottom right, #aab7ee, #2D53E8FF);
}

#paneAccount {
    -fx-background-color: #444d70;
    -fx-border-radius: 50px;
}

.vbox-background {
    -fx-background-color: #f0f0f0; /* Màu nền */
    -fx-background-radius: 5; /* Độ cong của góc */
}
